@import url(normalize.css);

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

header {
    background-color: var(--amarillo);
    background-size: cover;
    margin-bottom:0;
}

.logo-barra-cuotas {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

div.logo-mercado-liebre{
    width: 50%;
}

nav.barra-busqueda {
    width:50%;
}

p.compra-cuotas {
    text-align: center;
    margin:auto;
}

input[type="submit"]{
    font-family: "Roboto";
    font-size:12px;
}

.site {
    display: none;
    padding-left:8px;
}

.login {
    display: none;
    padding-left:8px;
    padding-bottom: 10px;
}


p {
    font-family: "Roboto";
    font-size:12px;
    margin: 10px;
}

ul{
    padding-left:initial;
}

ul li a{
    color:black;
    font-family: "Roboto";
    font-size:12px;
    text-decoration:none;
    text-align: left;
    
    }

h2{
    font-family: "Roboto";
    font-size:24px;
    width:100%;
    margin:10px;
    background-color: var(--gris-claro);
}

div.burger-menu i{
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 5px;
    margin-top:5px;
    box-sizing: border-box;
}
div.burger-menu {
    color: var(--gris-claro);
    text-align: center;
    margin:auto;
    background-position: left;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

/* ------------------------ MAIN -------------------------------------*/

main {
    background-color: var(--gris-claro);
    text-align: center;
    background-position: center;
    box-sizing: border-box;
    }

div.truck i{
    display:block;
    font-size:16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    transition-timing-function: ease-in-out 450ms; 
}

div.truck i:hover{
    transform: rotateZ(-90deg);
}

.truck {
    display:flex;
    justify-content: flex-end;
    color: var(--verde);
    font-size:16px;
    border-radius: 25%;
    text-align: left;
    margin-bottom: -15px;
    margin-right: 20px;
    margin-top: -15px;
    background-position: left;
    box-sizing: border-box;
}

.articulo {
    margin-bottom: 10px;
    background-position: center;
    width: 100%;
    max-width: 80%;
    background-color: white;
    transition: all 450ms;
}

article .articulo:hover {
    box-shadow: 0px 0px 10px rgb(100,100,100);
    position: relative;
    left:5px;
    top:5px;
}

.ult-visita {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
section.articulos{
    width:90%;
}

.precio {
    font-size:18px;
    text-align: left;
    flex: 30%;
}
.descuentos {
    font-size:16px;
    color: var(--verde);
    text-align: left;
    flex: 70%;
}

.descripciones {
    display: none;
    font-size:16px;
    text-align: left;
    padding-top: 10px;
    padding-bottom:10px;
    box-sizing: border-box;
    transition: display 450ms;
}

.descripciones:hover {
    display: contents;
}

.precio-descuento {
    display:flex;
    padding: 1px;
    margin:auto;
    align-items: center;
    flex-direction: row;
    width:100%;
    border-top: 1px solid var(--gris-claro);
    box-sizing: border-box;
}


/* ----------------------- FOOTER ----------------------------------- */

footer section {
    font-family: "Roboto";
    text-align: center;
    margin: 10px;
}

footer section div {
    size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: color 450ms;
}

footer section div:hover {
    color: var(--amarillo);
}

h5 {
    text-align: left;
    color: var(--gris-oscuro);
    font-weight: lighter;
    font-family: "Roboto";
}

/* ----------------------- REGISTER ----------------------------------- */

label {
    font-family: "Roboto";
    font-size:12px;
    width:100%;
    margin:10px;
    color: var(--gris-claro);
}

.campo-formulario {
    margin: 10px;
    text-align: justify;
    padding-left:5px;
    font-family: "Roboto";
    font-size: 12px;
}

input {
    font-family: "Roboto";
    border-radius: 5px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border: 10px;
    padding: 8px;
}

h3 {
    padding: 15px;
    font-family: "Roboto";
    font-size:14px;
    text-align: left;
}

button.enviar {
    font-family: "Roboto";
    font-size:12px;
    color: white;
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 10px;
    border-color: var(--celeste);
    width:70%;
    margin:10px;
}

button.enviar {
    font-family: "Roboto";
    font-size:12px;
    color: white;
    background-color: #0022AA;
    border-radius: 5px;
    padding: 10px;
    border-color: var(--celeste);
    width:70%;
    margin:10px;
}

button.borrar {
    font-family: "Roboto";
    font-size:12px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    border-color: var(--gris-claro);
    margin: 10px;
}

.foto-usuario {
    width:25%;
    margin:15px;
}

.agregar-foto {
    font-family: "Roboto";
    font-size:12px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:5px;
    border-color: var(--gris-claro);
    width:100%;
}

input {
    border: 1px solid var(--gris-oscuro)
}

input:invalid {
    border: 1px solid rgba(255, 0, 0, 0.692);
    background-color: #ffdddd
}

input:required {
    border: 1px solid rgba(255, 0, 0, 0.692);
    background-color: whitesmoke 
}

/* ----------------------- LOGIN ----------------------------------- */

.h3-login {
    text-align: center;
}

.campo-login {
    margin: 10px;
    text-align: center;
    font-family: "Roboto";
    font-size: 12px;
}

button.enviar-login {
    font-family: "Roboto";
    font-size:12px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    width:100px;
    margin:10px;
    transition: all 450ms;
    border: 1px solid var(--gris-claro);
}

button.enviar-login:hover {
    background-color: #0022AA;
    color: white;
}

/* ----------------------- MEDIA QUERIS ----------------------------------- */

/* TABLET */

@media (min-width: 600px) and (max-width: 1040px) {

    .logo-barra-cuotas{
        align-items: center;
    }

    div.logo-mercado-liebre{
        width:20%;
    }

    nav.barra-busqueda {
        width:20%;
    }

    nav.compra-cuotas {
        width:20%;
    }

    .descripciones {
        display: none;
    }    

    nav.site-login {
        display: flex;
        flex-wrap: wrap;
    }
    
    ul.site {
        display: flex;
        flex-wrap: wrap;
        width:50%;
        justify-content: space-between;
    }

    ul.login{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        justify-content: space-between;
    }

    div.burger-menu i{
        display:none;
        background-color: var(--amarillo);
    }

    h2 {
        text-align: left;
        width:100%;
    }

    .articulo {
        box-shadow: 0px 0px 10px rgb(100,100,100);
        width: 40%;
    }   
}
   

/* DESKTOP */

@media (min-width: 1040px) {


    .logo-barra-cuotas{
        align-items: center;
    }

    div.logo-mercado-liebre{
        width:20%;
    }

    nav.barra-busqueda {
        width:20%;
    }

    nav.compra-cuotas {
        width:20%;
    }

    .descripciones {
        display: none;
    }    

    nav.site-login {
        display: flex;
        flex-wrap: wrap;
    }
    
    ul.site {
        display: flex;
        flex-wrap: wrap;
        width:50%;
        justify-content: space-between;
    }

    ul.login{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        justify-content: space-between;
    }

.descripciones {
    display: block;
}

.articulo {
    box-shadow: 0px 0px 10px rgb(100,100,100);
    width:20%;
}   

div.burger-menu i{
    display:none;
    background-color: var(--amarillo);
}


}