@import url(normalize.css);

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

header {
    background-color: var(--amarillo);
    background-size: cover;
    margin-bottom:0;
}

.logo-barra-cuotas {
    display:flex;
    flex-wrap: wrap;
}

p.compra-cuotas {
    text-align: center;
    margin:auto;
}
nav.barra-busqueda {
    margin: 10px;
    flex:50%;
}

input[type="submit"]{
    font-family: "Roboto";
    font-size:12px;
}

.site {
    display: none;
    padding-left:8px;
}

.login {
    display: none;
    padding-left:8px;
    padding-bottom: 10px;
}


p {
    font-family: "Roboto";
    font-size:12px;
    margin: 10px;
}

ul{
    padding-left:initial;
}

ul li a{
    color:black;
    font-family: "Roboto";
    font-size:12px;
    text-decoration:none;
    text-align: left;
    
    }

h2{
    font-family: "Roboto";
    font-size:24px;
    width:100%;
    margin:10px;
}

div.burger-menu i{
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 5px;
    margin-top:5px;
    box-sizing: border-box;
}
div.burger-menu {
    color: var(--gris-claro);
    text-align: center;
    margin:auto;
    background-position: left;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

/* ------------------------ MAIN -------------------------------------*/

main {
    background-color: var(--gris-claro);
    text-align: center;
    background-position: center;
    box-sizing: border-box;
    }

div.truck i{
    display:block;
    font-size:16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
}

.truck {
    display:flex;
    justify-content: flex-end;
    color: var(--verde);
    font-size:16px;
    border-radius: 25%;
    text-align: left;
    margin-bottom: -15px;
    margin-right: 20px;
    margin-top: -15px;
    background-position: left;
    box-sizing: border-box;
}

.articulo {
    margin-bottom: 10px;
    background-position: center;
    width: 100%;
    max-width: 80%;
    background-color: white;
}

.ult-visita {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
section.articulos{
    width:90%;
}

.precio {
    font-size:18px;
    text-align: left;
    flex: 30%;
}
.descuentos {
    font-size:16px;
    color: var(--verde);
    text-align: left;
    flex: 70%;
}

.descripciones {
    display: none;
    font-size:16px;
    text-align: left;
    padding-top: 10px;
    padding-bottom:10px;
    box-sizing: border-box;
}

.precio-descuento {
    display:flex;
    padding: 1px;
    margin:auto;
    align-items: center;
    flex-direction: row;
    width:100%;
    border-top: 1px solid var(--gris-claro);
    box-sizing: border-box;
}


/* ----------------------- FOOTER ----------------------------------- */

footer section {
    text-align: center;
}

footer section div {
    size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

h5 {
    text-align: left;
    color: var(--gris-oscuro);
    font-weight: lighter;
}


/* ----------------------- MEDIA QUERIS ----------------------------------- */

/* TABLET */

@media (min-width: 600px) and (max-width: 1040px) {

    .logo-mercado-liebre{
        width:50%;
    }

    .barra-busqueda {
        width:50%;
    }

    .descripciones {
        display: none;
    }    
    
    .site {
        display:flex;
    }
  
    .login {
        display: flex;
    }

    div.burger-menu i{
        display:none;
        background-color: var(--amarillo);
    }

    h2 {
        text-align: left;
        width:100%;
    }

    .articulo {
        box-shadow: 0px 0px 10px rgb(100,100,100);
        width: 40%;
    }   
}
   

/* DESKTOP */

@media (min-width: 1040px) {

.site-login {
    display: flex;
}



.descripciones {
    display: block;
}

.articulo {
    box-shadow: 0px 0px 10px rgb(100,100,100);
    width:20%;
}   

div.burger-menu i{
    display:none;
    background-color: var(--amarillo);
}


}