<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href=/css/style.css>
<!--Links de Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!--Links de Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
rel="stylesheet" />
<!--Etiqueta viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <section class="logo-barra-cuotas">
            <div class = logo-mercado-liebre>
                <img class = logo-mercado-liebre src="images/logo-mercado-liebre.svg"alt="Logo mercado liebre">
            </div>
                <nav class="barra-busqueda">
            <div>
                <input type="search" name="busqueda-articulos" placeholder="Buscar productos, marcas">
                <button><i class="fas fa-search"></i></button>
            </div>
        </nav>
        <nav class="compra-cuotas">
        <p  class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </nav>
        </section>
        <nav class="site-login">
            <ul class="site" type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayudar</a></li>
            </ul>
            <ul class="login" type="none">
                <li><a href="/register">Creá tu cuenta<i class="far fa-id-card crea-tu-cuenta"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt ingresa"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        </nav>
    </header>
    <main class = "main">
        <img src="/images/img-home-banner.jpg" alt="banner"> 
        <section class="ult-visita">
            <h2>Basado en tu última visita</h2>
            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                    <div class=truck><i class="fas fa-truck"></i></div>
                    <section class="precio-descuento">
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </section>
                    <p class="descripciones">Cafetera Moulinex</p>
            </article>
            <article class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro">
                    <div class=truck><i class="fas fa-truck"></i></div>
                    <section class="precio-descuento">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </section>
                    <p class="descripciones">MacBook Pro 2019</p>
            </article>
            <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class=truck><i class="fas fa-truck"></i></div>
                    <section class="precio-descuento">
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </section>
                    <p class="descripciones">Samsung Galaxy S10</p>
            </article>
            <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung Smart">
                    <div class=truck><i class="fas fa-truck"></i></div>
                    <section class="precio-descuento">
                        <p class="precio">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </section>
                    <p class="descripciones">SmartTV Samsung 43"</p>
            </article>
        </section>
        <section class="ofertas">
            <h2>Sección de Ofertas</h2>
            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                    <div class=truck><i class="fas fa-truck"></i></div>
                    <section class="precio-descuento">
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </section>
                    <p class="descripciones">Cafetera Moulinex</p>
            </article>
            <article class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro">
                    <div class=truck><i class="fas fa-truck"></i></div>
                    <section class="precio-descuento">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </section>
                    <p class="descripciones">MacBook Pro 2019</p>
            </article>
            <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class=truck><i class="fas fa-truck"></i></div>
                    <section class="precio-descuento">
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </section>
                    <p class="descripciones">Samsung Galaxy S10</p>
            </article>
            <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung Smart">
                <div class=truck><i class="fas fa-truck"></i></div>
                <section class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% off</p>
                </section>
                    <p class="descripciones">SmartTV Samsung 43"</p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div><i class="fas fa-credit-card"></i></i></div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en untos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div><i class="fas fa-gift"></i></div>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div><i class="fas fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
        </section>
        <section>
            <h5>Copyright &#169: 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
    </footer>
</body>
</html>